---
import BannerSmall from "../../banners/BannerSmall.astro";
import ProductosSelect from "./ProductosSelect";
import ProductTypeCard from "./ProductosSelect/ProductTypeCard.astro";

import imgPiso01 from "../../../assets/imgs/productos/Piso01.jpg";
import imgPiso02 from "../../../assets/imgs/productos/Piso02.jpg";
import imgPiedra01 from "../../../assets/imgs/productos/Piedra01.jpg";
import imgPiedra02 from "../../../assets/imgs/productos/Piedra02.jpg";
import imgPiedra03 from "../../../assets/imgs/productos/Piedra03.jpg";
---

<>
  <BannerSmall />
  <ProductosSelect client:load transition:persist>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 gap-x-4"
      slot="pisos"
    >
      <ProductTypeCard
        imgBackground={imgPiso01}
        title="Piso vinílico Artis LVT"
        link="/productos/pisos-lvt"
      />
      <ProductTypeCard
        imgBackground={imgPiso02}
        title="Piso vinílico Artis spc"
        link="/productos/pisos-spc"
      />
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-4" slot="piedras">
      <ProductTypeCard
        imgBackground={imgPiedra01}
        title="Perdura Stone"
        link="/productos/perdura-stone"
      />
      <ProductTypeCard
        imgBackground={imgPiedra02}
        title="Imperial stone"
        link="/productos/imperial-stone"
      />
      <ProductTypeCard
        imgBackground={imgPiedra03}
        title="Stona"
        link="/productos/stona"
      />
    </div>
  </ProductosSelect>
</>

<style></style>
