---
import ProductosInfoCard from "./ProductosInfoCard";

import IconCatalogoDigital from "@/assets/svg/icon-catalog.svg";
import IconFichatecnica from "@/assets/svg/icon-fichatecnica.svg";
import IconGarantia from "@/assets/svg/icon-garantia.svg";
import IconMantenimiento from "@/assets/svg/icon-mantenimiento.svg";
import IconManual from "@/assets/svg/icon-manual-de-instalacion.svg";

type Props = {
  type: string;
};

const { type } = Astro.props;
---

<section class="container px-4 md:px-0 mb-16">
  <div class="grid grid-cols-1 m:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
    <ProductosInfoCard
      client:load
      image={IconManual}
      title={"Manual de instalación"}
      url={type === "lvt"
        ? "/pdfs/lvtInfo/Manual_LVT.pdf"
        : "/pdfs/spcInfo/Manual_SPC.pdf"}
    />
    <ProductosInfoCard
      client:load
      image={IconGarantia}
      title={"Garantía"}
      url={type === "lvt"
        ? "/pdfs/lvtInfo/Garantia_LVT.pdf"
        : "/pdfs/spcInfo/Garantia_SPC.pdf"}
    />

    <ProductosInfoCard
      client:load
      image={IconCatalogoDigital}
      title={"Catálogo digital"}
      url="/pdfs/catalogo.pdf"
    />
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8">
    <div class="">
      <ProductosInfoCard
        client:load
        image={IconFichatecnica}
        title={"Ficha técnica"}
        url={type === "lvt"
          ? "/pdfs/lvtInfo/Ficha_Tecnica_LVT.pdf"
          : "/pdfs/spcInfo/Ficha_Tecnica_SPC.pdf"}
      />
    </div>
    <div class="">
      <ProductosInfoCard
        client:load
        image={IconMantenimiento}
        title={"Mantenimiento y uso diario"}
        url={type === "lvt"
          ? "/pdfs/lvtInfo/Mantenimiento_LVT.pdf"
          : "/pdfs/spcInfo/Mantenimiento_SPC.pdf"}
      />
    </div>
  </div>
</section>
