---
import ProductosInfoCard from "./ProductosInfoCard";

import IconCatalogoDigital from "@/assets/svg/icon-catalog.svg";
import IconFichatecnica from "@/assets/svg/icon-fichatecnica.svg";
import IconGarantia from "@/assets/svg/icon-garantia.svg";
import IconMantenimiento from "@/assets/svg/icon-mantenimiento.svg";
import IconManual from "@/assets/svg/icon-manual-de-instalacion.svg";

import manualLVT from "@/assets/svg/manual-lvt.svg";
import fichaLVT from "@/assets/svg/ficha-tecnica-lvt.svg";

import manualSPC from "@/assets/svg/manual-spc.svg";
import fichaSPC from "@/assets/svg/ficha-tecnica-spc.svg";

type Props = {
  type: string;
};

const { type } = Astro.props;
---

<section class="container px-4 md:px-0 mb-16">
  <div class="grid grid-cols-1 m:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
    <ProductosInfoCard
      client:load
      image={IconManual}
      title={"Manual de instalación"}
      modalImg={type === "lvt" ? manualLVT : manualSPC}
    />
    <ProductosInfoCard
      client:load
      image={IconGarantia}
      title={"Garantía limitada"}
      url={type === "lvt"
        ? "/public/pdfs/Garantia_Piso_LVT.pdf"
        : "/public/pdfs/Garantia_Piso_SPC.pdf"}
    />

    <ProductosInfoCard
      client:load
      image={IconCatalogoDigital}
      title={"Catálogo digital"}
      url="/public/pdfs/catalogo_digital.pdf"
    />
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-8">
    <div class="">
      <ProductosInfoCard
        client:load
        image={IconFichatecnica}
        title={"Ficha técnica"}
        modalImg={type === "lvt" ? fichaLVT : fichaSPC}
      />
    </div>
    <div class="">
      <ProductosInfoCard
        client:load
        image={IconMantenimiento}
        title={"Mantenimiento y uso diario"}
        url="https://hogar.tarkett.es/es_ES/node/como-limpiar-y-mantener-un-suelo-vinilico-4505"
      />
    </div>
  </div>
</section>
