---
import { getEntries, type CollectionEntry } from "astro:content";
import ProductosBreadcrumbs from "../pages/productos/ProductosBreadcrumbs.astro";
import ProductosInfo from "@/components/pages/productos/ProductosInfo.astro";
import ProductosBanner from "@/components/pages/productos/ProductosBanner";
import ProductosPisosCard from "../pages/productos/ProductosPisosCard.astro";
import { fade } from "astro:transitions";

type Props = {
  piso: CollectionEntry<"pisos">;
};

const { piso } = Astro.props;

const similarPisos = await getEntries(piso.data.similarProductIDs);
---

<ProductosBreadcrumbs piso={piso} />

<ProductosBanner client:load arrayImgs={piso.data.bannerImgs} />

<div
  class="flex gap-4 lg:gap-6 items-end container relative px-6 top-[-2rem] md:top-[-4rem] lg:top-[-8rem]"
>
  <img
    src={piso.data.image.src}
    class="border-white border-4 lg:border-8 object-cover w-24 h-32 sm:w-32 sm:h-48 lg:w-56 lg:h-72"
    transition:name=`image-thumbnail-${piso.id}`
    alt=`image-thumbnail-${piso.id}`
    transition:animate={fade({ duration: "0.7s" })}
  />

  <div
    class="flex flex-col relative top-14 sm:top-0 md:top-0 lg:pb-1 mb-4 md:mb-0"
  >
    <h1
      class="font-title text-3xl md:text-5xl mb-2 lg:mb-4 tracking-wider uppercase"
    >
      {piso.data.title}
    </h1>

    <a
      class="text-center text-base
      border-2 border-accent-500 text-accent-500 px-6 py-3 rounded-full
      hover:bg-accent-500 hover:text-white"
      href="/contacto">Estoy interesado</a
    >
  </div>
</div>

<section
  class="container relative px-4 md:px-0 lg:pl-8 py-8 md:py-0 top-4 lg:top-[-3rem]"
>
  <ul class="">
    <div class="flex flex-col lg:flex-row gap-0 lg:gap-44">
      <div>
        <li class="mb-4 lg:mb-8">
          <h4
            class="text-primary-600 font-sans tracking-widest font-semibold text-lg md:text-xl mb-1 lg:mb-2"
          >
            Dimensiones:
          </h4>
          <p class="text-base md:text-lg lg:text-xl">{piso.data.dimensions}</p>
        </li>
        <li class="mb-4 lg:mb-8">
          <h4
            class="text-primary-600 font-sans tracking-widest font-semibold text-lg md:text-xl mb-1 lg:mb-2"
          >
            Espesor total:
          </h4>
          <p class="text-base md:text-lg lg:text-xl">
            {piso.data.totalThickness}
          </p>
        </li>
        <li class="mb-4 lg:mb-8">
          <h4
            class="text-primary-600 font-sans tracking-widest font-semibold text-lg md:text-xl mb-1 lg:mb-2"
          >
            Capa de desgaste:
          </h4>
          <p class="text-base md:text-lg lg:text-xl">{piso.data.wearLayer}</p>
        </li>
      </div>
      <div>
        <li class="mb-4 lg:mb-8">
          <h4
            class="text-primary-600 font-sans tracking-widest font-semibold text-lg md:text-xl mb-1 lg:mb-2"
          >
            Presentación:
          </h4>
          <p
            class="text-base md:text-lg lg:text-xl"
            set:html={piso.data.type === "lvt"
              ? "Caja de 4.34 m<sup>2</sup> (20 piezas)"
              : "Caja de 2.24 m<sup>2</sup> (10 piezas)"}
          />
        </li>
        <li class="mb-4 lg:mb-8">
          <h4
            class="text-primary-600 font-sans tracking-widest font-semibold text-lg md:text-xl mb-1 lg:mb-2"
          >
            Peso/caja:
          </h4>
          <p
            class="text-base md:text-lg lg:text-xl"
            set:html={piso.data.type === "lvt" ? "15 kg" : "18.76 kg"}
          />
        </li>
      </div>
    </div>
  </ul>
</section>

<ProductosInfo type={piso.data.type} />

<section class="container pt-24 pb-16 px-4 md:px-0">
  <h2
    class="font-title text-center text-2xl lg:text-5xl text-primary-500 tracking-widest
    mb-12"
  >
    También te puede interesar
  </h2>
  <div
    class="grid gap-4 gap-y-8 lg:gap-8 grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {
      similarPisos.map((p) => {
        return (
          <ProductosPisosCard
            id={p.id}
            img={p.data.image}
            title={p.data.title}
            type={p.data.type}
          />
        );
      })
    }
  </div>
</section>

<style></style>
