---
import { getEntries, type CollectionEntry } from "astro:content";
import ProductosBreadcrumbs from "../pages/productos/ProductosBreadcrumbs.astro";
import ProductosInfo from "@/components/pages/productos/ProductosInfo.astro";
import ProductosBanner from "@/components/pages/productos/ProductosBanner";
import { Image } from "astro:assets";
import ProductosPisosCard from "../pages/productos/ProductosPisosCard.astro";

type Props = {
  piso: CollectionEntry<"pisos">;
};

const { piso } = Astro.props;

const similarPisos = await getEntries(piso.data.similarProductIDs);
---

<ProductosBreadcrumbs piso={piso} />

<ProductosBanner client:load arrayImgs={piso.data.bannerImgs} />
<div
  class="flex gap-4 lg:gap-6 items-end container relative px-6 top-[-2rem] md:top-[-4rem] lg:top-[-8rem]"
>
  <Image
    class="border-white border-8 object-cover w-24 h-32 sm:w-32 sm:h-48 lg:w-56 lg:h-72"
    src={piso.data.image}
    alt="imagen"
  />

  <div class="flex flex-col relative top-14 sm:top-0 md:top-0 lg:pb-1 mb-4 md:mb-0">
    <h1 class="font-title text-3xl md:text-5xl mb-2 lg:mb-4 tracking-wider uppercase">
      {piso.data.title}
    </h1>

    <a
      class="text-center text-base
      border-2 border-accent-500 text-accent-500 px-6 py-3 rounded-full
      hover:bg-accent-500 hover:text-white"
      href="/contacto">Estoy interesado</a
    >
  </div>
</div>

<ProductosInfo type={piso.data.type} />

<section class="container pt-24 pb-16 px-4 md:px-0">
  <h2
    class="font-title text-center text-2xl lg:text-5xl text-primary-500 tracking-widest
    mb-12"
  >
    También te puede interesar
  </h2>
  <div
    class="grid gap-4 gap-y-8 lg:gap-8 grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {
      similarPisos.map((p) => {
        return (
          <ProductosPisosCard
            id={p.id}
            img={p.data.image}
            title={p.data.title}
            type={p.data.type}
          />
        );
      })
    }
  </div>
</section>

<style></style>
